.cayley {
  display: block; /* Fix inline display issue */
  margin: auto; /* Ensure it's centered horizontally */
}

.cayleyContainer {
  display: flex;
  justify-content: center; /* Centers the SVG */
  margin: auto;
}

button:active {
  background-color: rgb(13, 255, 0);
  color: black;
}
